<% content_for :page_title do %>
  <%= Spree.t(:edit_multibanco_provider) %>
<% end %>

<div data-hook="admin_multibanco_provider_edit_form">
  <%= form_for [:admin, @multibanco_provider] do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div data-hook="admin_multibanco_provider_edit_form_buttons">
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </div>
  <% end %>
</div>